body {
    background-image: url("../images/gameNotstarted.png");
    background-size: cover;
    background-color: white;
}



.maincontent {
    margin-top: 20px;
}

.keyContent {
    background: none;
    color:#e9ecef;
        text-shadow: 3px 1px black;
}
gamecontent {

    border: 1px solid #cccccc;
}

.staticInfo {
    color: teal;

}

.dynamicInfo {

color:black;
font-weight: 400;
font-size: 25px;
}

#disppickedCountry{
    letter-spacing: 15px;
}

.dispwin {

    color: magenta;
    letter-spacing: 10px;
    font-size: 2rem;

}

#dispuserMessage {
    color: red;
}

#startpic {
    width: 400px;
    height: 300px;
}

.gameStarted {
   background: #e9ecef; 
   flex-wrap: wrap;
   padding: 20px 20px;  
   border-radius: 2%;
} 

#dispgameInstr {
    margin-top: 22px;
}