.maincontent {
    margin-top: 20px;
}

gamecontent {

    border: 1px solid #cccccc;
}

.staticInfo {
    color: teal;

}

.dynamicInfo {

color:black;
font-weight: 400;
font-size: 25px;
}

#disppickedCountry{
    letter-spacing: 15px;
}

.dispwin {

    color: magenta;
    letter-spacing: 10px;
    font-size: 2rem;

}

#dispuserMessage {
    color: red;
}

/* Images */
 #gameoverpic, #winpic{ 
    display: none;
    margin: 0 auto;
}